*{
  margin:;
  padding:;
  box-sizing:;
}
body{
  font-family: ;
}
.app{
  background-color: blue;
}
main{
  min-height: 100vh;
  background-image: ;
}
.search-box .search-bar{
  display: ;
  width: ;
  padding: ;
  /* not sure why these are none */
  appearance:none;
  background:none;
  border:none;
  outline:none;

  background-color: ;
  border-radius: 1px 1px 1px 1px white;
  margin-top: ;

  box-shadow: ;

  color: ;
  font-size: ;

  transition: 0.1s ease ;
}
.search-box .search-bar:focus {
  background-color: ;
}