*{
  margin:;
  padding:;
  box-sizing:;
}
body{
  font-family: ;
}
.app{
  background-color: white;
}
main{
  min-height: 100vh;
  background-image: ;
}
.search-box .search-bar{
  display: ;
  width: ;
  padding: ;
  /* not sure why these are none */
  appearance:none;
  background:none;
  border:none;
  outline:none;

  background-color: ;
  border-radius: 1px 1px 1px 1px white;
  margin-top: ;

  box-shadow: ;

  color: ;
  font-size: ;

  transition: 0.1s ease ;
}
.search-box .search-bar:focus {
  background-color: green;
}
.location-box{
  color: ;
  font-size: ;
  font-weight: ;
  text-align: ;
  text-shadow: ;
}
.location-box .date{
  color: ;
  font-size: ;
  font-weight: ;
  font-style: ;
  text-align: ;
  text-shadow: ;
}
.weather-box{
  text-align: ;
}
.weather-box .temp{
  position: ;
  display: ;
  margin: ;
  background-color: ;
  border-radius: ;

  padding: ;

  color: ;
  font-size: ;
  font-weight: ;

  text-shadow: ;
  text-align: ;
  box-shadow: ;
}
.weather-box .weather{
  color: white;
  font-size: ;
  font-weight: ;
  text-shadow: ;
}